/* Responsive Design */
@media (min-width: 768px) and (max-width: 1280px) {
    html {
        font-size: calc(0.5vw + 18.5%);
    }

    .container {
        padding-inline: 5rem;
    }
}

/* Adjust for tablets (max-width: 768px) */
@media (max-width: 768px) {
    html {
        font-size: calc(1vw + 14.5%);
    }

    body::before {
        background: url("../assets/images/pattern-background-tablet-light.svg");
        background-size: cover;
    }

    .container {
        padding-inline: 0;
        width: calc(100% - 107px);
        flex-direction: column;
    }

    header {
        margin-top: 5.3rem;
        margin-bottom: 1rem;
        height: 2.6rem;
        flex-direction: row !important;
    }

    .quiz-options,
    .quiz-answers {
        max-width: 100%;
        width: 100%;
        margin-top: 6.4rem;
    }

    #welcome-section p {
        margin-top: 1.6rem;
    }

    #question-info p,
    #welcome-section {
        margin-top: 4.9rem;
    }

    .quiz-option,
    .answer-option {
        height: 10.6rem;
        border-radius: 12px;
    }

    #question-info {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    #question-info #question-text {
        margin-block: 2.7rem 4rem;
    }

    .quiz-answers .answer-option {
        height: auto;
        padding: 1rem;
    }

    .answer-option.submit {
        height: 9.2rem;
    }

    .quiz-score-container {
        margin-top: 6.4rem;
        max-width: 100%;
        width: 100%;
    }
}

/* Adjust for smaller screens (e.g., mobile) */
@media (max-width: 480px) {
    body::before {
        background: url("../assets/images/pattern-background-mobile-light.svg");
        background-size: cover;
    }

    body.dark-mode::before {
        background: url("../assets/images/pattern-background-mobile-dark.svg");
        background-size: cover;
    }

    .container {
        width: calc(100% - 48px);
    }

    .quiz-retry {
        height: 9.2rem;
        border-radius: 12px;
    }
}