<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend Quiz App</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>

  <body>
    <header class="container">
      <div class="switch-container">
        <img
          src="../assets/images/icon-sun-dark.svg"
          class="icon"
          id="sunIcon"
          alt="Sun Icon"
        />
        <button
          class="switch"
          id="themeSwitch"
          aria-label="Toggle theme"
        ></button>
        <img
          src="../assets/images/icon-moon-dark.svg"
          class="icon"
          id="moonIcon"
          alt="Moon Icon"
        />
      </div>
    </header>

    <!-- Start Menu Content -->
    <main class="container">
      <section id="welcome-section">
        <h1>Welcome to the <br /><strong>Frontend Quiz!</strong></h1>
        <p>Pick a subject to get started.</p>
      </section>
      <section class="quiz-options">
        <h2 class="sr-only">Quiz Options</h2>
        <button class="quiz-option" data-subject="html">
          <img
            class="img-html"
            src="../assets/images/icon-html.svg"
            alt="HTML icon"
          />
          HTML
        </button>
        <button class="quiz-option" data-subject="css">
          <img
            class="img-css"
            src="../assets/images/icon-css.svg"
            alt="CSS icon"
          />
          CSS
        </button>
        <button class="quiz-option" data-subject="javascript">
          <img
            class="img-javascript"
            src="../assets/images/icon-javascript.svg"
            alt="JavaScript icon"
          />
          JavaScript
        </button>
        <button class="quiz-option" data-subject="accessibility">
          <img
            class="img-accessibility"
            src="../assets/images/icon-accessibility.svg"
            alt="Accessibility icon"
          />
          Accessibility
        </button>
      </section>
    </main>

    <script src="../script/main.js" type="module"></script>
  </body>
</html>
