<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend Quiz</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>

  <body>
    <!-- Header (Theme Toggle) -->
    <header class="container">
      <h1 id="quiz-title"></h1>
      <div class="switch-container">
        <img
          src="../assets/images/icon-sun-dark.svg"
          class="icon"
          id="sunIcon"
          alt="Sun Icon"
        />
        <button
          class="switch"
          id="themeSwitch"
          aria-label="Toggle theme"
        ></button>
        <img
          src="../assets/images/icon-moon-dark.svg"
          class="icon"
          id="moonIcon"
          alt="Moon Icon"
        />
      </div>
    </header>

    <!-- Main Content -->
    <main class="container">
      <!-- Left Section (Question Info) -->
      <section id="question-info">
        <h2 class="sr-only">Question Info</h2>
        <p>Question <span id="question-number"></span> of 10</p>
        <p id="question-text"></p>
        <progress id="progress-bar"></progress>
      </section>

      <!-- Right Section (Answer Options) -->
      <section class="quiz-answers">
        <h2 class="sr-only">Answer Options</h2>
        <button class="answer-option" data-answer="A"></button>
        <button class="answer-option" data-answer="B"></button>
        <button class="answer-option" data-answer="C"></button>
        <button class="answer-option" data-answer="D"></button>
        <button id="submit">Submit answer</button>
        <p id="answer-validation">
          <img
            id="answer-icon"
            src="../assets/images/icon-incorrect.svg"
            alt="Answer Icon"
          />
          Please select an answer
        </p>
      </section>
    </main>

    <script src="../script/main.js" type="module"></script>
  </body>
</html>
