@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

/*! base start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h6,
p {
    margin: 0;
}

.container {
    max-width: 69.375rem;
    width: 100%;
    margin: auto;
}

.btn-header {
    width: 10.4375rem;
    height: 3.5rem;
    border: none;
    border-radius: 28px;
    background-color: #13183f;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    cursor: pointer;
    transition: background-color .2s;
}

.btn-header:hover {
    background-color: #666ca3;
}

.btn-hero {
    width: 10.4375rem;
    height: 3.9375rem;
    border: none;
    border-radius: 31.5px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    cursor: pointer;
    transition: .2s ease all;
}

.btn-hero:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.box-btn {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #F74780;
    transition: .2s ease all;
}

.box-btn:hover {
    color: #FFA7C3;
}

.btn-footer {
    width: 10.4375rem;
    height: 3.5rem;
    border: none;
    border-radius: 28px;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    cursor: pointer;
}

.btn-footer:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

/*! base end */

.main {
    position: relative;
}

.header-wrapper {
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-hero {
    position: relative;
    margin-top: 9.25rem;
}

.hero-content {
    max-width: 30rem;
}

.hero-heading {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 4.4375rem;
    color: #13183F;
}

.hero-desc {
    margin: 1.8125rem 0 2.5rem 0;
    max-width: 26.875rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #83869A;
}

.hero-image {
    position: absolute;
    top: -9.125rem;
    left: 50.6%;
    width: 62rem;
    height: 58.375rem;
    background-image: url(../assets/image-hero-desktop.png);
    background-repeat: no-repeat;
    z-index: -1;
}

.box-section {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

.box-container {
    margin-top: 15.625rem;
    padding-bottom: 8.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.875rem;
    row-gap: 5rem;
}

.box-container .box {
    position: relative;
    width: 21.875rem;
    height: 20.125rem;
    padding: 4rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.first-box {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.white-box {
    background-color: #fff;
}

.heading-m {
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #fff;
}

.box-heading {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #13183F;
}

.box-desc {
    margin: 1.5rem 0 auto 0;
    padding-right: .1875rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #83869A;
}

.box-icon {
    position: absolute;
    top: -1.5rem;
    left: 2rem;
}

footer {
    width: 100%;
    height: 7.5rem;
    background-color: #13183F;
}

.footer-wrapper {
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*! responsive */

@media (max-width: 1110px) {
    .container {
        max-width: 62rem;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 48rem;
    }
}

@media (max-width: 769px) {
    .container {
        max-width: 43.0625rem;
    }

    .section-hero {
        margin-top: 6.25rem;
    }

    .hero-content {
        max-width: 24.875rem;
    }

    .hero-heading {
        font-size: 2.5rem;
        line-height: 3.125rem;
    }

    .hero-desc {
        margin: 1.5625rem 0;
        font-size: 1rem;
        line-height: 1.625rem;
    }

    .hero-image {
        top: -5.75rem;
        left: 49%;
        width: 40rem;
        height: 43.75rem;
        background-image: url(../assets/image-hero-tablet.png);
    }

    .box-container {
        margin-top: 13.125rem;
        padding-bottom: 5.375rem;
        grid-template-columns: 1fr 1fr;
        gap: .6875rem;
        row-gap: 3.5rem;
    }

    .box-container .box {
        width: 21.1875rem;
        height: 259px;
        padding: 3.5rem 2rem 2rem 2rem;
        border-radius: 15px;
    }

    .heading-m {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .box-heading {
        font-size: 1.25rem;
        line-height: 1.5625rem;
    }

    .box-desc {
        margin: 1rem 0 auto 0;
        font-size: 1rem;
        line-height: 1.375rem;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 25rem;
    }

    .btn-header {
        width: 8.75rem;
        height: 3rem;
        font-size: 1rem;
    }

    .header-wrapper {
        height: 5rem;
    }

    .section-hero {
        margin-top: 1.375rem;
    }

    .hero-content {
        max-width: 25rem;
    }

    .hero-desc {
        margin: 1.625rem 0 1.5rem 0;
        max-width: 25rem;
    }

    .hero-image {
        position: unset;
        margin-top: 2.625rem;
        width: 100%;
        height: 23.4375rem;
        background-image: url(../assets/image-hero-mobile.png);
        background-position: center;
    }

    .btn-hero {
        width: 10.4375rem;
        height: 3.5rem;
    }

    .box-container {
        margin-top: 0px;
        padding-bottom: 5.375rem;
        grid-template-columns: 1fr;
        gap: unset;
        row-gap: 2.5rem;
    }

    .mobile-first-box {
        height: 7.5rem !important;
        padding: 1.5rem 2rem !important;
    }

    .btn-footer {
        width: 8.75rem;
        height: 3rem;
        font-size: 1rem;

    }
}

@media (max-width: 420px) {
    .container {
        max-width: 21.4375rem;
    }
}