.crew-background {
    width: 100%;
    height: 100vh;
    background: url(../../assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    position: relative;
}

.section-crew {
    padding: 76px 165px 0 165px;
    display: flex;
    width: 100%;
}

.crew-wrapper {
    display: flex;
    flex-direction: column;
}

.crew-info {
    display: none;
    height: 423px;
    margin: 154px 0 0 0;
}

.crew-info.active {
    display: block;
    animation: fade-left 1s ease;
}

.crew-info .heading-3 {
    margin: 15px 0 27px 0;
}

.crew-role {
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.crew-bio {
    max-width: 444px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.crew-slider {
    width: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.slider-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;
    transition: .2s opacity ease;
    cursor: pointer;
}

.slider-dot:hover {
    opacity: 0.5;
}

.dot-active {
    opacity: 1;
}

.crew-image-wrapper {
    display: none;
    position: absolute;
    right: 137px;
    bottom: -91px;
}

.crew-image-wrapper.active {
    display: block;
    animation: fade-right 1s ease;
}

/* responsive */

@media (max-width: 1024px) {
    .crew-background {
        height: 100%;
        background: url(../../assets/crew/background-crew-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-crew {
        padding: unset;
    }

    .crew-wrapper {
        width: 100%;
    }

    .crew-wrapper .heading-5 {
        padding: 40px 0 60px 38.5px;
    }

    .crew-info {
        height: unset;
        margin: unset;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .crew-role {
        font-size: 24px;
        line-height: 28px;
    }

    .crew-info .heading-3 {
        font-size: 40px;
        line-height: 46px;
        margin: 8px 0 16px 0;
    }

    .crew-bio {
        max-width: 592px;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    .crew-slider {
        align-self: center;
        width: 88px;
        gap: unset;
    }

    .slider-dot {
        width: 10px;
        height: 10px;
    }

    .crew-image-wrapper {
        position: unset;
        margin: 40px auto 0px auto;
    }

    .image-douglas {
        width: 456px;
        height: 572px;
    }

    .image-mark {
        width: 369px;
        height: 539px;
    }

    .image-victor {
        width: 433px;
        height: 532px;
    }

    .image-anousheh {
        width: 539px;
        height: 532px;
    }

    .crew-image {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 768px) {
    .crew-background {
        background: url(../../assets/crew/background-crew-tablet.jpg);
    }
}

@media (max-width: 576px) {
    .crew-background {
        height: 100vh;
        background: url(../../assets/crew/background-crew-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-crew {
        text-align: center;
    }

    .crew-wrapper {
        max-width: 327px;
        margin: auto;
    }

    .crew-wrapper .heading-5 {
        padding: unset;
        margin: 24px 0 32px 0;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
    }

    .crew-info {
        margin: 292px 0 0 0;
        height: 290px;
    }

    .crew-role {
        font-size: 16px;
        line-height: 18px;
    }

    .crew-info .heading-3 {
        font-size: 24px;
        line-height: 28px;
        margin: 8px 0 16px 0;
    }

    .crew-bio {
        max-width: 327px;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
    }

    .crew-slider {
        margin-top: -363px;
        border-top: 1px solid #383B4B;;
        width: 327px;
        padding-top: 30px;
        justify-content: center;
        gap: 16px;
    }

    .slider-dot {
        width: 10px;
        height: 10px;
    }

    .crew-image-wrapper {
        position: absolute;
        width: 100%;
        top: 32px;
        left: 26%;
    }

    .image-douglas {
        width: 177px;
        height: 222px;
    }

    .image-mark {
        width: 154px;
        height: 222px;
    }

    .image-victor {
        width: 180px;
        height: 222px;
    }

    .image-anousheh {
        width: 226px;
        height: 222px;
        left: 20%;
    }

    .crew-image {
        width: 100%;
        height: 100%;
    }

}