.destination-background {
    width: 100%;
    height: 100vh;
    background: url(../../assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-destination {
    padding: 76px 165px 0 165px;
}

.heading-5 {
    color: #fff;
}

.heading-number {
    margin-right: 28px;
}

.destination-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.destination-image {
    margin-left: 65px;
}

.destination-details {
    width: 445px;
    margin-top: 64px;
}

.destination-navigation {
    height: 34px;
}

.nav-list {
    display: flex;
    gap: 35px;
}

.nav-item {
    position: relative;
    height: 34px;
    transition: .2s ease all;
}

.nav-item-link {

    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    text-transform: uppercase;
}

.nav-item-link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    transition: 0.2s ease width;
}

.nav-item:hover .nav-item-link::after {
    width: 100%;
    opacity: .25;
}

.nav-item-link.active::after {
    width: 100%;
}

.heading-2 {
    margin: 30px 0 14px 0;
}

.destination-desc {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.destination-details .line {
    border: 1px solid #383B4B;
    margin: 54px 0 28px 0;
}

.destination-extra-info {
    display: flex;
    justify-content: flex-start;
    gap: 79px;
}

.distance,
.travel {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* responsive */

@media (max-width: 1024px) {
    .destination-background {
        height: 100%;
        background: url(../../assets/destination/background-destination-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-destination {
        padding: 40px 0 0px 0;
    }

    .destination-wrapper .heading-5 {
        margin-left: 38.5px;
    }

    .destination-info {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .destination-image {
        margin-top: 60px;
        margin-left: unset;
        width: 300px;
        height: 300px;
    }

    .image-dest {
        width: 100%;
    }

    .destination-details {
        max-width: 573px;
        width: 100%;
        margin-top: 53px;
    }

    .nav-list {
        max-width: 285.5px;
        margin: auto;
        gap: unset;
        justify-content: space-between;
    }

    .destination-details .heading-2 {
        margin: 32px 0 8px 0;
        font-size: 80px;
        line-height: 92px;
    }

    .destination-desc {
        max-width: 573px;
        font-size: 16px;
        line-height: 28px;
        margin: 0 auto 49px;
    }

    .destination-details .line {
        margin: unset;
    }

    .destination-extra-info {
        display: flex;
        justify-content: space-around;
        gap: unset;
        margin-top: 29px;
        margin-bottom: 62px;
    }
}

@media (max-width: 768px) {
    .destination-background {
        background: url(../../assets/destination/background-destination-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 576px) {
    .destination-background {
        background: url(../../assets/destination/background-destination-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-destination {
        max-width: 327px;
        margin: auto;
        padding: 24px 0 0 0;
        text-align: center;
    }

    .destination-wrapper .heading-5 {
        margin-left: unset;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
    }

    .heading-number {
        margin-right: 18px;
    }

    .destination-image {
        margin-top: 32px;
        width: 170px;
        height: 170px;
    }

    .destination-details {
        max-width: 327px;
        margin-top: 26px;
    }

    .nav-list {
        max-width: 237.5px;
    }

    .destination-details .heading-2 {
        margin: 20px 0 1px 0;
        font-size: 56px;
        line-height: 64px;
    }

    .destination-desc {
        max-width: 573px;
        font-size: 15px;
        line-height: 25px;
        margin: 0 auto 32px;
    }

    .destination-extra-info {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 58px;
    }

}