@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    /*! Colors */
    /*! Primary */

    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /*! Neutral */

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    /*! Font Sizes */
    --body: 1.6rem;
    --heading-xs: 1.6rem;
    --heading-s: 2rem;
    --heading-m: 3.2rem;
    --heading-l: 4rem;
    --heading-xl: 5.6rem;

    /*! Font Weights */
    --regular: 400;
    --bold: 700;
    --extra-bold: 800;

}