@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600&display=swap');
/* font-family: 'Fraunces', serif; */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
/* font-family: 'Manrope', sans-serif; */

/* common styles */
html {
    /*! 10px/16px = 0.625px * 100% */
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Fraunces', serif;
}

/* end of common styles */

:root {
    /*! Colors */
    --Dark-Blue: #24053E;
    --Dark-Gray: #584d62;
    --Eva-Green: #44ffa1;
    --Very-Light-Gray: #fcf8ff;
    --White: #ffffff;
}

.secondary-btn {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 0 2px 0;
    background: transparent;
    color: #ffffff;
    border: none;
    border-bottom: #44ffa1 2px solid;
    transition: color 0.5s;
    cursor: pointer;
}

.primary-btn {
    background: #44ffa1;
    border: none;
    padding: 1.5rem 2rem;
    color: #24053E;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    transition: all 0.5s;
}

.primary-btn:hover {
    background: #24053E;
    outline: #44ffa1 1px solid;
    color: #44ffa1;
}

.secondary-btn:hover {
    color: #44ffa1;
}

/* home section */
.home {
    position: relative;
    width: 100%;
    height: 73rem;
    z-index: 1;
}

.home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background: #24053E;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(2.5);
    z-index: -1;
}

.home::after {
    content: "";
    position: absolute;
    top: 58%;
    left: 25%;
    width: 100%;
    height: 100%;
    background: url(./assets/images/image-hero.webp);
    background-size: 76.7rem 44.1rem;
    background-repeat: no-repeat;
    z-index: 3;
}

.header {
    background-color: #24053E;
}

.header-wrapper {
    padding: 3.2rem 11.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.7rem;
    text-align: center;
}

.heading h1 {
    color: #ffffff;
    font-size: 8rem;
    font-weight: 400;
    max-width: 70rem;
}

.heading h1 span {
    border-bottom: #44ffa1 1px solid;
}

.bg-pattern-1 {
    position: absolute;
    left: -13.8rem;
    top: 0;
}

.bg-pattern-2 {
    position: absolute;
    right: -5rem;
    bottom: 0;
}

/* end of home section */

/* info section */

.info {
    position: relative;
    width: 100%;
    height: 83rem;
    z-index: 0;
}

.info::before {
    content: "";
    position: absolute;
    top: -10rem;
    left: 0;
    width: 100%;
    height: 95%;
    background: #fcf8ff;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(2.5);
    z-index: -1;
}

.info-wrapper {
    padding: 25.5rem 11.5% 0 11.5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.info-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

}

.article-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fraunces', serif;
    width: 5rem;
    height: 5rem;
    border: 1px solid #24053E;
    border-radius: 50%;
}

.article-info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.article-heading {
    font-size: 2.8rem;
    font-weight: 500;
    color: #24053E;
}

.article-desc {
    font-size: 1.6rem;
    color: #24053E;
    max-width: 30.5rem;
    line-height: 3.2rem;
}

/* end of info section */

/* founder section */

.founder {
    margin: 0 11.5%;
}

.founder-wrapper {
    position: relative;
}

.founder-img {
    display: flex;
    width: 47.7rem;
    height: 47.7rem;
    top: 2.7rem;
}

.founder-img img {
    background-size: cover;
}

.founder-info-wrapper {
    position: absolute;
    background-color: #24053E;
    right: 0;
    margin-top: -30rem;
}

.founder-info-content {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 3.2rem;
    padding: 6.4rem;
}

.founder-title {
    font-size: 5.6rem;
    font-weight: 400;
}

.founder-desc {
    max-width: 60.2rem;
    line-height: 3.2rem;
}

.founder-info-wrapper .bg-pattern-3 {
    position: absolute;
    top: 26.4rem;
    right: 7.3rem;
}

/* end of founder section */

/* footer */

.footer-wrapper {
    margin: 23rem 0 11rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.8rem;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
    list-style: none;

}

.social-icon {
    color: #584d62;
    font-size: 2rem;
    cursor: pointer;
    transition: all .5s;
}

.social-icon:hover {
    transform: rotateZ(360deg);
}

/* end of footer */

/*! responsive  */

@media (max-width: 1280px) {
    .home::after {
        left: 22.5%;
        background-size: 74.7rem 42.1rem;
    }

    .header-wrapper {
        padding: 3.2rem 6.5%;
    }

    .info-wrapper {
        padding: 25.5rem 6.5% 0 6.5%;
    }

    .founder {
        margin: 0 6.5%;
    }
}

@media (max-width: 1200px) {
    .home:before {
        height: 88%;
    }

    .home::after {
        background-size: 69.7rem 37.1rem;
    }

    .info::before {
        top: -14rem;
    }

    .info-wrapper {
        padding: 21.5rem 6.5% 0 6.5%;
    }

    .founder-info-wrapper {
        max-width: 66rem;
    }
}

@media (max-width: 992px) {
    .home {
        height: 66rem;
    }

    .home::after {
        background-size: 57.7rem 33.1rem;
    }

    .bg-pattern-1 {
        left: -21.8rem;
        top: -3rem
    }

    .bg-pattern-2 {
        right: -9rem;
        bottom: -12rem;
    }

    .info-wrapper {
        padding: 21.5rem 4% 0 4%;
    }

    .header-wrapper {
        padding: 3.2rem 4%;
    }

    .info-wrapper {
        padding: 25.5rem 4% 0 4%;
    }

    .founder {
        margin: 0 4%;
    }

    .founder-info-wrapper {
        max-width: 58.7rem;
        margin-top: -23rem;
    }

    .founder-title {
        font-size: 4.6rem;
    }

    .founder-info-wrapper .bg-pattern-3 {
        top: 30.4rem;
    }

    .footer-wrapper {
        margin: 28rem 0 11rem 0;
    }
}

@media (max-width: 768px) {
    .home:before {
        height: 45rem;
        transform: scaleX(4);
    }

    .heading h1 {
        font-size: 6rem;
        max-width: 58rem;
    }

    .home::after {
        background-size: 48rem 28.6rem;
        top: 31rem;
        left: 20.5%;
    }

    .info::before {
        top: -25rem;
        height: 100%;
        transform: scaleX(4);
    }

    .info-wrapper {
        padding: 0 4% 0 4%;
        flex-direction: column;
        gap: 4.8rem;
        justify-content: unset;
        text-align: unset;
        align-items: unset;
    }

    .info-article {
        flex-direction: unset;
    }

    .article-info {
        max-width: 47.6rem;
        gap: 1.6rem;
    }

    .article-desc {
        max-width: unset;
    }

    .founder {
        margin-top: -10rem;
    }

    .founder-img {
        width: 28.1rem;
        height: 28.1rem;
    }

    .founder-info-wrapper {
        max-width: 51.4rem;
        margin-top: -13rem;
    }

    .founder-info-content {
        padding: 5.4rem;
    }

    .founder-desc {
        font-size: 1.6rem;
        max-width: 40.2rem;
        line-height: 2.8rem;
    }

    .founder-info-wrapper .bg-pattern-3 {
        right: 2.3rem;
    }

    .footer-wrapper {
        margin: 35rem 0 11rem 0;
    }
}