@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%)
}

html {
    font: 16px/1.5 "Roboto", sans-serif;
    color: var(--dark-slate-grey);
}

body {
    height: 100vh;
    background-color: var(--charcoal-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.icon-list {
    width: 1.3125em;
    height: 1.3125em;
}

.container {
    background-color: var(--white);
    border-radius: 36px;
    padding: 1.5em;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}

.col-content {
    max-width: 23.5em;
    margin-left: 2.5em;
}

.col-content .content-title {
    font-size: 3.5em;
    line-height: 1;
}

.col-content .content-paragraph {
    padding-block: 1.5em;
}

.col-content .content-list {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.col-content .content-list .content-item {
    display: flex;
    gap: 1em;
}

.col-content form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
}

.col-content form label {
    font-size: 0.75em;
    font-weight: 700;
}

.col-content form #email {
    appearance: none;
    padding: 1em 1.5em;
    margin: 0.5em 0 1.5em 0;
    color: var(--dark-slate-grey);
    font-size: inherit;
    line-height: inherit;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 7px;
}

.col-content form #email::placeholder {
    color: var(--dark-slate-grey);
    opacity: .5;
}

.col-content form #btn-subscribe,
.success-container #dismiss-button {
    padding: 1.125em 0 0.875em 0;
    font-size: 1em;
    font-weight: 700;
    line-height: inherit;
    color: var(--white);
    background-color: var(--dark-slate-grey);
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

.col-content form #btn-subscribe:hover,
.success-container #dismiss-button:hover {
    background-image: linear-gradient(#FF6A3A 0%, #FF527B 100%);
    box-shadow: 0px 10px 21px 2px rgba(255, 97, 85, 0.35);
}

.col-content form .error {
    position: absolute;
    order: -1;
    align-self: end;
    font-size: 0.75em;
    font-weight: 700;
    color: hsl(4, 100%, 67%);
}

.invalid {
    background-color: hsl(4, 100%, 67%, .15);
    border-color: hsl(4, 100%, 67%) !important;
}

.success-container {
    max-width: 31.5em;
    display: none;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 36px;
    padding: 3em 4em 4em 4em;
}

.success-container .success-media {
    width: 4em;
}

.success-container .success-heading {
    font-size: 3.5em;
    line-height: 1;
    padding: 0.8em 0 0.5em 0;
}

.success-container .success-paragraph {
    padding-bottom: 2.5em;
}

.success-container .success-paragraph #confirmation-email {
    font-weight: 700;
}

/* responsive */

@media (max-width: 768px) {
    .col-content .content-title {
        font-size: 2.5em;
    }

}

@media (max-width: 650px) {
    body {
        align-items: start;
    }

    .container {
        border-radius: 0;
        padding: 0;
        max-width: 100%;
    }

    .wrapper {
        gap: 2.5em;
        flex-direction: column-reverse;
    }

    .col-media {
        width: 100%;
    }

    .col-content {
        max-width: 100%;
        margin: 0;
        padding: 0 1.5em 2.5em;
    }

    .success-container {
        max-width: 100%;
        border-radius: 0;
        padding: 9.375em 1.5em 4em 1.5em;
    }

    .success-container .success-paragraph {
        padding-bottom: 16.4375em;
    }

}