@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

/*! base start */

:root {
    --black: #151515;
    --green: #4ee1a0;
    --dark-grey: #242424;
    --grey: #D9D9D9;
    --white: #FFF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background: var(--black);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: .3s all ease;
    display: flex;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: var(--white);
}

h1 {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -0.25rem;
}

h2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.15rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

p {
    margin: 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--grey);
}

button {
    border: none;
    border-bottom: 2px solid var(--green);
    text-transform: uppercase;
    background: transparent;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 2.286px;
    padding-bottom: 1rem;
    transition: .3s ease all;
    cursor: pointer;
}

button:hover {
    color: var(--green);
}

svg {
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
}

#github {
    background-image: url(./assets/images/icon-github.svg);
}

#front-end-mentor {
    background-image: url(./assets/images/icon-frontend-mentor.svg);
}

#linkedin {
    background-image: url(./assets/images/icon-linkedin.svg);
}

#twitter {
    background-image: url(./assets/images/icon-twitter.svg);
}

a:hover {
    filter: invert(75%) sepia(28%) saturate(817%) hue-rotate(99deg) brightness(200%) contrast(77%);
}

.container {
    max-width: 111rem;
    width: 100%;
    margin: auto;
}

/*! base end */

/* header start */

header {
    height: 11rem;
}

#header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-wrapper #logo {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: -0.444px;
}

#header-wrapper .icons {
    display: flex;
    gap: 3.2rem;
}

/* header end */

/* main start */

/*! section introduction start */

#introduction {
    margin: 8.8rem 0 21.9rem 0;
}

#introduction-heading {
    max-width: 71rem;
}

#introduction-heading #programer {
    font-style: normal;
    border-bottom: 6px solid var(--green);
}

#introduction-desc {
    max-width: 44.5rem;
    margin: 4.3rem 0 6.6rem 0;
}

/*! section introduction end */

/* main end */

/*! responsive */

@media (max-width: 1200px) {
    .container {
        max-width: 99.2rem;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width: 420px) {
    .container {
        max-width: 350px;
    }
}