@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

/*! base start */

:root {
    --black: #151515;
    --green: #4ee1a0;
    --dark-grey: #242424;
    --grey: #D9D9D9;
    --white: #FFF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background: var(--black);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: .3s all ease;
    display: flex;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: var(--white);
}

h1 {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -0.25rem;
}

h2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.15rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

p {
    margin: 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--grey);
}

.logo {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: -0.444px;
}

button {
    border: none;
    border-bottom: 2px solid var(--green);
    text-transform: uppercase;
    background: transparent;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 2.286px;
    padding-bottom: 1rem;
    transition: .3s ease all;
    cursor: pointer;
}

button:hover {
    color: var(--green);
}

svg {
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
}

.github {
    background-image: url(./assets/images/icon-github.svg);
}

.front-end-mentor {
    background-image: url(./assets/images/icon-frontend-mentor.svg);
}

.linkedin {
    background-image: url(./assets/images/icon-linkedin.svg);
}

.twitter {
    background-image: url(./assets/images/icon-twitter.svg);
}

a:hover {
    filter: invert(75%) sepia(28%) saturate(817%) hue-rotate(99deg) brightness(200%) contrast(77%);
}

.container {
    max-width: 111rem;
    width: 100%;
    margin: auto;
}

/*! base end */

/* header start */

header {
    height: 11rem;
}

#header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-wrapper .icons {
    margin-right: 3rem;
    display: flex;
    gap: 3.2rem;
}

/* header end */

/* main start */

/*! section introduction start */

#introduction {
    margin: 8.8rem 0 21.9rem 0;
}

#introduction::before {
    position: absolute;
    content: "";
    background: url(./assets/images/pattern-rings.svg) no-repeat;
    width: 53rem;
    height: 13rem;
    top: 13.3rem;
    left: -10rem;
}

#introduction::after {
    position: absolute;
    content: "";
    background: url(./assets/images/image-profile-desktop.webp) no-repeat;
    background-size: cover;
    width: 44.5rem;
    height: 72rem;
    top: 0;
    right: calc((100% - 111rem) / 2);
    z-index: -1;
}

#introduction-heading {
    max-width: 71rem;
}

#introduction-heading::after {
    position: absolute;
    content: "";
    background: url(./assets/images/pattern-circle.svg) no-repeat;
    width: 13rem;
    height: 13rem;
    top: 52.1rem;
    right: calc((100% - 111rem) / 2 + 38rem);
}


#introduction-heading #programer {
    font-style: normal;
    border-bottom: 6px solid var(--green);
}

#introduction-desc {
    max-width: 44.5rem;
    margin: 4.3rem 0 6.6rem 0;
}

/*! section introduction end */

/*! section experience start */

#experience {
    padding: 7.2rem 0 4rem 0;
    margin-bottom: 10rem;
    border-top: 1px solid var(--white);
}

#experience::after {
    position: absolute;
    content: "";
    background: url(./assets/images/pattern-rings.svg) no-repeat;
    width: 53rem;
    height: 13rem;
    top: 107.7rem;
    right: calc(((100% - 111rem) / 2) - 40rem);
}

#experience-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5.8rem;
}

#experience-wrapper .skills {
    display: flex;
    flex-direction: column;
    flex: 33.3%;
    row-gap: 1.4rem;
}

/*! section experience end */

/*! section projects start */

#projects {
    margin-bottom: 13.9rem;
}

#projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.8rem;
    margin-bottom: 8rem;
}

#projects-header #projects-heading {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
}

#projects #projects-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

#projects #projects-wrapper .project-list {
    display: flex;
    justify-content: space-between;
    row-gap: 6.9rem;
    flex-wrap: wrap;
}

#projects #projects-wrapper .project-list .project-item {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.project-item .project-img {
    width: 54rem;
    height: 40rem;
}

.project-item .project-img img {
    width: 100%;
}

.project-item .project-description {
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
}

.project-description .project-title {
    text-transform: uppercase;
}

.project-item .project-description .tools {
    display: flex;
    gap: 2rem;
}

.project-description .tools .technology {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: var(--grey);
    text-transform: uppercase;
}

/*! section projects end */

/* main end */

/* footer start */

footer {
    background: var(--dark-grey);
}

#footer-wrapper {
    position: relative;
    padding: 8.4rem 0 9.2rem 0;
}

#footer-wrapper::after {
    position: absolute;
    content: "";
    background: url(./assets/images/pattern-rings.svg) no-repeat;
    width: 53rem;
    height: 13rem;
    top: 32.5rem;
    left: calc(((100% - 106rem) / 2) - 40rem);
}

#footer-contact {
    display: flex;
    justify-content: space-between;
}

#contact-info {
    max-width: 44.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

#contact-heading {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -2.5px;
}

#contact-form {
    min-width: 44.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

form .input-control {
    position: relative;
    border-bottom: 1px solid #FFF;
}

.input-control.success {
    border-bottom: 1px solid #4EE1A0;
}

.input-control.error {
    border-bottom: 1px solid #FF6F5B !important;
}

.input-control .error {
    position: absolute;
    bottom: -2rem;
    right: 0;
    color: #FF6F5B;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.167px;
}

.input-control .svg-error {
    position: absolute;
    right: 0;
    top: 0;
}

#name,
#email,
textarea {
    background: transparent;
    border: none;
    padding-left: 2.4rem;
    color: #FFF;
}

#name:focus-visible,
#email:focus-visible,
textarea:focus-visible {
    outline: none;
    color: #FFF;
    caret-color: #FFF;
}


#name,
#email {
    width: 100%;
    height: 4.3rem;
}

form textarea {
    resize: none;
    border-bottom: 1px solid #FFF;
}

form>:last-child {
    align-self: end;
}

#footer-bottom {
    border-top: 1px solid #FFF;
    margin-top: 9.2rem;
}

#footer-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.7rem;
}

#footer-bottom-wrapper .icons {
    width: 19.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* footer end */



/*! responsive */

@media (max-width: 1200px) {
    .container {
        max-width: 99.2rem;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width: 420px) {
    .container {
        max-width: 350px;
    }
}