@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

/*! base style */

:root {
    --Dark-Blue: hsl(209, 23%, 22%);
    /* Dark Blue (Dark Mode Elements) */
    --Dark-Mode-Background: hsl(207, 26%, 17%);
    /* Very Dark Blue (Dark Mode Background) */
    --Light-Mode-Text: hsl(200, 15%, 8%);
    /* Very Dark Blue (Light Mode Text) */
    --Light-Mode-Input: hsl(0, 0%, 52%);
    /* Dark Gray (Light Mode Input) */
    --Light-Mode-Background: hsl(0, 0%, 98%);
    /* Very Light Gray (Light Mode Background) */
    --White: hsl(0, 0%, 100%);
    /* Dark Mode Text & Light Mode Elements */
    --select-arrow: #000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--Light-Mode-Text);
    list-style: none;
}

body {
    background-color: var(--Light-Mode-Background);
}

/*! base style */

/*! header style */

header {
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    background-color: var(--White);
}

#header-wrapper {
    max-width: 128rem;
    height: 8rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
}

#header-title {
    font-size: 2.4rem;
    font-weight: 800;
}

#color-switcher {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

#color-switcher #mode {
    font-size: 1.6rem;
    font-weight: 600;
}

#color-switcher i {
    font-size: 1.6rem;
}

/*! header style */

/*! main style */
main {}

/*! main style */

/*! home style */

#home-wrapper {
    max-width: 128rem;
    margin: auto;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.8rem 0 4.8rem 0;
    flex-wrap: wrap;
    gap: 4rem;
}

#search-control {
    position: relative;
}

#search-control i {
    position: absolute;
    content: "";
    top: 50%;
    left: 4.1rem;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}

#search-bar {
    background-color: var(--White);
    border: none;
    width: 48rem;
    height: 5.6rem;
    padding-left: 7.4rem;
    color: #848484;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

#filter-control {
    width: 20rem;

}

#filter-control #dropdown {
    background-color: var(--White);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1.8rem 2.2rem 1.8rem 2.4rem;
    cursor: pointer;
}

#dropdown i {
    font-size: medium;
}

#filter-control .options {
    background-color: var(--White);
    display: none;
    position: absolute;
    width: 20.2rem;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1.6rem 2.4rem;
    margin-top: 0.4rem;
}

.options .regions {
    margin: 0.5rem 0;
    cursor: pointer;
}

#filter-control p,
.regions {
    color: var(--Light-Mode-Text);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

.show-options {
    display: block !important;
}

/* countries-wrapper */

.countries-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25.4rem, 1fr));
    justify-items: center;
    column-gap: 7.5rem;
    row-gap: 7.5rem;
}

.country {
    min-height: 33.6rem;
    width: 26.7rem;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.country-img {
    width: 100%;
    height: 16rem;

}

.country-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.country-info {
    background-color: var(--White);
    padding: 2.4rem 0 3.8rem 2.4rem;
}

.country-info h2 {
    color: var(--Light-Mode-Text);
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.6rem;
    margin-bottom: 1.6rem;
}

.country-info p {
    color: var(--Light-Mode-Text);
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    padding-bottom: .8rem;
}

.country-info p strong {
    font-weight: 600 !important;
}

/* countries-wrapper */

/*! home style */

/*! details style */

#details-container {
    max-width: 128rem;
    margin: auto;
}

#back-btn-wrapper {
    border-radius: 6px;
    background: var(--White);
    width: 13.6rem;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem 0;
}

#back-btn-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
}

#back-btn-wrapper a button {
    color: var(--Light-Mode-Text);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

#back-btn-wrapper a i {
    color: var(--Light-Mode-Text);
    font-size: 1.6rem;
}

#details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

#country-img {
    width: 56rem;
    height: 40.1rem;
}

#country-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10.006px;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.03);
}

#country-info {
    display: flex;
    flex-direction: column;
}

#country-name {
    color: var(--Light-Mode-Text);
    font-size: 3.2rem;
    font-weight: 800;
}

#country-details {
    display: flex;
    gap: 14.1rem;
    margin: 2.3rem 0 7rem 0;
}

.column {
    font-size: 1.6rem;
    line-height: 3.2rem;
}

#border-countries {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

#border-countries strong {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

#country-borders {
    display: flex;
    gap: 1rem;
}

#border-countries .borders {
    border-radius: 2px;
    border: 0px solid #979797;
    background: var(--White);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
    padding: .5rem 2.7rem;
    cursor: pointer;
    transition: .3s all ease;
}

#border-countries .borders:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.50);

}

/*! details style */

/* responsive */

@media (max-width: 576px) {
    #header-wrapper {
        max-width: 34.3rem;
    }

    #header-title {
        font-size: 1.4rem;
    }

    #color-switcher #mode {
        font-size: 1.2rem;
    }

    #home-wrapper {
        max-width: 34.3rem;
    }

    #details-container {
        max-width: 34.3rem;
    }

    #search-bar {
        width: 34.3rem;
    }

    /* details */

    #back-btn-wrapper {
        margin: 4rem 0 6.4rem 0;
    }

    #details-wrapper {
        flex-direction: column;
        gap: 4.4rem;
        max-width: 32rem;
        margin: 0 auto 6rem auto;
    }

    #country-img {
        width: 32rem;
        height: 22.9rem;
    }

    #country-name {
        font-size: 2.2rem;
    }

    #country-details {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        margin: 1.6rem 0 3.4rem 0;
    }

    #border-countries {
        gap: 1.6rem;
        align-items: self-start;
        flex-direction: column;
    }

    #country-borders {
        flex-wrap: wrap;
    }
}