@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

*:focus {
    outline: 2px solid var(--Grey-900);
    outline-offset: 2px;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--Green-200);
    color: var(--Grey-900);
    font-size: var(--body-sm);
    line-height: 1.5;
    letter-spacing: 0;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
}