@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/*! base start */

:root {
    /*! Colors */
    /* Primary */
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* Neutral */
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.3s ease all;
}

h1,
h2,
h3,
h6 {
    margin: 0;
    color: var(--Dark-Blue);
}

p {
    font-size: 18px;
    margin: 0;
    color: var(--Grayish-Blue);
}

.width-100 {
    width: 100%;
}

.display-flex {
    display: flex;
}

.container {
    margin: 0 11.5%;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 22px;
    font-size: 16px;
    color: var(--White);
    background: linear-gradient(-90deg, #2BB7DA 5%, #31D35C 65%);
    border: none;
    cursor: pointer;
    width: 160px;
    transition: 0.3s ease-in-out all;
}

.btn:hover {
    opacity: 0.7;
}

/*! base end */

/*! header start */
header {
    position: relative;
    z-index: 3;
}

.header-row {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--White);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav .menu-list {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.menu-link {
    font-size: 16px;
    color: var(--Grayish-Blue);
}

.menu-list-item a {
    border-bottom: 4px solid transparent;
    transition: 0.3s ease-out all;
}

.menu-list-item a:hover {
    color: var(--Dark-Blue);
    border-color: var(--Lime-Green);
    padding-bottom: 20px;
}

.hamburger {
    display: none;
}

.close-btn {
    display: none;
    cursor: pointer;
}

/*! header end */

/*! main start */
/* section next-generation start */
.next-generation {
    height: 657px;
    background-color: var(--Very-Light-Gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next-generation-title {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}

.next-generation-title h1 {
    font-size: 56px;
    font-weight: 300;
    width: 425px;
}

.next-generation-title p {
    width: 466px;
    margin-top: 25px;
    margin-bottom: 55px;
    color: var(--Grayish-Blue);
}

.next-generation-image {
    position: absolute;
    top: -34px;
    right: -582px;
    display: flex;
    flex-direction: column;
}

.next-generation-image img {
    width: 737px;
    height: 908px;
    z-index: 2;
}

.next-generation-image .bg-itro {
    position: relative;
    right: 175px;
    top: -1035px;
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1195px;
    height: 981px;
}

/* section next-generation end */

/* section easybank-extras start */
.easybank-extras {
    background-color: var(--Light-Grayish-Blue);
    height: 677px;
}

.easybank-extras .title {
    width: 644px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title h2 {
    font-size: 40px;
    font-weight: 300;
}

.title p {
    line-height: 22px;
}

.section-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section-box .easybank-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-box .easybank-box h3 {
    font-size: 26px;
    font-weight: 300;
}

.section-box .easybank-box img {
    width: 70px;
}

.section-box .easybank-box p {
    font-size: 16px;
    line-height: 20px;
}

/* section easybank-extras end */

/* section latest-articles start */
.latest-articles {
    background-color: var(--Very-Light-Gray);
    height: 657px;
}

.latest-articles .title {
    padding-top: 85px;
    padding-bottom: 50px;
}

.latest-articles .title h2 {
    font-size: 40px;
    font-weight: 300;
}

.latest-articles .box {
    background-color: var(--White);
}

.articles-img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.latest-articles .box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.latest-articles .box-content span {
    font-size: 12px;
    color: var(--Grayish-Blue);
}

.latest-articles .box-content h3 {
    font-weight: 300;
    max-width: 200px;
}

.latest-articles .box-content p {
    font-size: 14px;
    max-width: 300px;
}

/* section latest-articles end */
/*! main end */

/*! footer start */
.footer-wrapper {
    background-color: var(--Dark-Blue);
    display: flex;
    padding: 50px 0;
}

.footer-wrapper .footer-content {
    width: 100%;
    display: flex;
}

.footer-wrapper .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
}

.footer-wrapper .right p {
    font-size: 14px;
}

.social-media-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-media-links a:hover {
    filter: drop-shadow(4px 7px 1px black);
}

.footer-wrapper .center {
    margin-left: 145px;
    display: flex;
    gap: 110px;
}

.footer-wrapper .center .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-wrapper .center .menu-list a {
    color: var(--White);
    font-size: 15px;
    transition: 0.3s ease all;
}

.footer-wrapper .center .menu-list a:hover {
    color: var(--Lime-Green);
}

.footer-wrapper .right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 25px;
}

/*! footer end */



/*! responsive */

@media (max-width: 992px) {
    .container {
        margin: 0 7%;
    }

    .header-wrapper .btn {
        display: none;
    }

    .header-wrapper .header-nav .navigation {
        display: none;
        position: fixed;
        background-color: var(--Very-Light-Gray);
        top: 103px;
        left: 6%;
        width: 88%;
        border-radius: 5px;
        box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    }

    .header-wrapper .header-nav .menu-list {
        flex-direction: column;
        gap: 30px;
        padding: 30px 0;
    }

    .menu-list-item a {
        border-bottom: unset;
        color: var(--Dark-Blue);
        transition: 0.3s ease-out all;
    }

    .menu-list-item a:hover {
        border-color: unset;
        padding-bottom: unset;
        color: var(--Grayish-Blue);
    }

    .main-div {
        background-image: linear-gradient(180deg,
                hsl(0deg 0% 0%) 0%,
                hsl(0deg 0% 50%) 50%,
                hsl(0deg 0% 100%) 100%);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .next-generation {
        height: auto;
    }

    .next-generation-title {
        display: flex;
        flex-direction: column;
        margin: 170px 0;
    }

    .next-generation-title h1 {
        font-size: 48px;
    }

    .next-generation-title p {
        max-width: 340px;
    }

    .next-generation-image {
        position: absolute;
        top: 95px;
        right: -907px;
        display: flex;
        flex-direction: column;
    }

    .next-generation-image img {
        width: 580px;
        height: auto;
        z-index: 2;
    }

    .next-generation-image .bg-itro {
        position: relative;
        right: 159px;
        top: -952px;
        background-image: url(./images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1294px;
        height: 981px;
    }

    .easybank-extras {
        height: unset;
        padding-bottom: 50px;
        text-align: center;
    }

    .easybank-extras .title {
        width: 100%;
    }

    .section-box {
        flex-wrap: wrap;
    }

    .section-box .easybank-box {
        align-items: center;
        text-align: center;
    }

    .section-box .easybank-box h3 {
        min-height: 61px;
    }

    .latest-articles {
        height: unset;
        padding-bottom: 50px;
    }

    .latest-articles .box {
        width: 100%;
    }

    .latest-articles .box-content {
        gap: 30px;
        padding: 40px 60px;
    }

    .articles-img {
        width: 100%;
        height: unset;
    }

    .footer-wrapper .center {
        margin-left: 60px;
        gap: 65px;
    }

    .footer-wrapper .right {
        justify-content: space-between;

    }

    .footer-wrapper .right p {
        text-align: end;
    }
}

@media (max-width: 768px) {
    .next-generation {
        flex-direction: column;
    }

    .next-generation-image {
        position: absolute;
        top: -126px;
        right: -628px;
    }

    .next-generation-image .bg-itro {
        right: 270px;
        top: -947px;
        height: 992px;
    }

    .next-generation-title {
        margin: 520px 0 88px 0;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .next-generation-image {
        right: -758px;
        top: -101px;
    }

    .next-generation-image img {
        width: 512px;
    }

    .next-generation-title {
        margin-top: 465px;
    }

    .footer-wrapper .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .footer-wrapper .left {
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    .footer-wrapper .center {
        margin-left: 60px;
        gap: 65px;
    }

    .footer-wrapper .center {
        margin-left: unset;
        gap: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-wrapper .center .menu-list {
        align-items: center;
    }

    .footer-wrapper .center .menu-list li {
        padding: 10px 0;
    }

    .footer-wrapper .right {
        margin-left: unset;
        align-items: center;
    }

    .footer-wrapper .right p {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .next-generation-image {
        right: -27px;
        top: -40px;
    }

    .next-generation-image img {
        width: 340px;
    }

    .next-generation-image .bg-itro {
        background-image: url(./images/bg-intro-mobile.svg);
        right: 27px;
        top: -364px;
        height: 473px;
        width: 375px;
    }

    .next-generation-title {
        margin-top: 315px;
    }

    .next-generation-title h1 {
        font-size: 41px;
    }

    .latest-articles .box-content {

        padding: 39px;
    }
}