.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

/* Main Content */
.product-wrapper {
    padding: 6rem 2.7813rem 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    align-items: center;
}

/* Product Gallery */
.product-gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.single-image-wrapper {
    position: relative;
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    cursor: pointer;
}

.single-image {
    width: 100%;
    transition: opacity 0.3s ease;
}

.slider-nav {
    display: none;
}

.gallery-thumbs {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.thumb-img {
    border-radius: var(--border-radius-md);
    overflow: hidden;
    border: 2px solid transparent;
}

.thumb-img.active {
    border-color: var(--color-primary);
}

.thumb-img.active img {
    opacity: 0.4;
}

.thumb-img img {
    transition: opacity 0.3s ease;
}

.thumb-img:hover img {
    opacity: 0.7;
}

/* Product Info */
.product-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-company {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-size: 0.8rem;
}

.product-heading {
    color: var(--color-very-dark-blue);
    font-size: 2.75rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}

.product-desc {
    line-height: 1.6;
    margin-bottom: .5rem;
}

.product-price {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.price-discount {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.new-price {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-very-dark-blue);
}

.discount-badge {
    background-color: var(--color-very-dark-blue);
    color: var(--color-white);
    font-weight: 700;
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius-sm);
}

.old-price {
    text-decoration: line-through;
    font-weight: 700;
}

.cart-actions {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}

.quantity-selector {
    display: flex;
    align-items: center;
    background-color: var(--color-light-grayish-blue);
    border-radius: var(--border-radius-md);
    height: 56px;
    flex: 1;
}

.btn-minus,
.btn-plus {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.btn-minus:hover,
.btn-plus:hover {
    opacity: 0.7;
}

.quantity {
    flex: 1;
    text-align: center;
    font-weight: 700;
    color: var(--color-very-dark-blue);
}

.btn-add-to-cart {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-primary);
    color: var(--color-very-dark-blue);
    font-weight: 700;
    border-radius: var(--border-radius-md);
    padding: 1.25rem 1.5rem;
    box-shadow: 0 20px 50px -20px var(--color-primary);
    transition: opacity 0.3s ease;
}

.btn-add-to-cart:hover {
    opacity: 0.7;
}

.btn-add-to-cart img {
    filter: brightness(1) invert(1);
}