@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*! base start */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
}


body {
  overflow-x: hidden;
  color: hsl(219, 9%, 45%);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #69707D;
}

h1,
h2,
h3,
h6,
p {
  margin: 0;
}

.container {
  max-width: 111rem;
  width: 100%;
  margin: auto;
}

.hidden {
  display: none !important;
}

.active {
  opacity: 1 !important;
}

/*! base end */

/* header start */

.header-wrapper {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-top: 2.8rem;
  margin-bottom: 3.4rem;
  display: flex;
  align-items: center;
}

.menu-btn {
  display: none;
}

.header-logo {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-left: 5.7rem;
}

.nav-item {
  position: relative;
}

.nav-list .nav-item:hover .menu-link::after,
.nav-list .menu-link.active::after {
  width: 100%;
}

.nav-list .menu-link::after {
  content: "";
  width: 0;
  height: .4rem;
  background: #FF7E1B;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translate(-50%);
  transition: 0.2s ease width;
}

.header-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.6rem;
  margin-left: auto;
}

.profile-cart {
  cursor: pointer;
}

.cart-container {
  position: fixed;
  top: 9.4rem;
  right: 6.25%;
  width: 36rem;
  height: auto;
  border-radius: 1rem;
  background: #FFF;
  box-shadow: 0px 2rem 5rem -2rem rgba(29, 32, 38, 0.50);
  z-index: 1;
}

.cart-title {
  height: 7rem;
  color: #1D2026;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 2.4rem;
  border-bottom: 1px solid #E4E9F2;
}

.cart-empty {
  margin: 7.7rem auto 8.5rem auto;
  color: #69707D;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.added-product {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4px 2.4rem 3.2rem 2.4rem;
}

.product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-content img {
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  object-fit: contain;
}

.product-content .product-desc {
  display: flex;
  flex-direction: column;
  color: #69707D;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.product-info .total {
  color: #1D2026;
}

.delete-btn {
  width: 1.4rem;
  height: 1.6rem;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-btn .delete-img {
  width: 100%;
  height: 100%;
}

.added-product .checkout-btn {
  padding: 2.2rem 1.8rem;
  border: none;
  border-radius: 1rem;
  background: #FF7E1B;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
  transition: .2s ease opacity;
}

.added-product .checkout-btn:hover {
  opacity: .5;
}

.cart-wrapper {
  display: flex;
}

.cart-wrapper .cart-count {
  position: absolute;
  top: 1rem;
  right: 9rem;
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
  width: 1.9rem;
  height: 1.3rem;
  border-radius: 6.5px;
  background-color: #FF7E1B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-cart:hover,
.profile-cart.active {
  filter: invert(0%) sepia(0%) saturate(0) hue-rotate(187deg) brightness(70%) contrast(100%);
}

.profile-avatar {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .2s ease outline;
}

.profile-avatar img {
  width: 100%;
}

.profile-avatar:hover {
  border-radius: 50px;
  outline: 2px solid #FF7E1B;
}

.horizontal-line {
  border: 1px solid #E4E9F2;
}

/* main start */

.product-wrapper {
  max-width: 1015px;
  margin: 90px auto;
  display: flex;
  justify-content: space-between;
  gap: 125px;
}

.product-gallery {
  width: 50%;
}

.single-image-wrapper {
  overflow: hidden;
  display: flex;
}

.slider-nav {
  display: none;
}

.nav-close {
  display: none;
}

.single-image-wrapper .single-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transform-origin: center;
  cursor: pointer;
}

.product-thumb {
  overflow: hidden;
  margin-top: 3.2rem;
}

.gallery-thumbs {
  display: flex;
  gap: 3.1rem;
}

.gallery-thumbs .img-fluid {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease opacity;
}

.active-opacity {
  display: flex;
  opacity: .3;
  border-radius: 12px;
  border: 2px solid #ff7e1b;
}

.gallery-thumbs .img-fluid:hover {
  opacity: .5;
}

.product-info {
  width: 50%;
  margin-top: 5.8rem;
}

.product-title {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: #FF7E1B;
}

.product-heading {
  margin: 1.9rem 0 3.3rem 0;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 4.8rem;
  color: #1D2026;
}

.product-desc {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #69707D;
}

.product-price {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  margin: 2.5rem 0 3.1rem 0;
}

.price-discount {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.price-discount .new-price {
  color: #1D2026;
  font-size: 2.8rem;
  font-weight: 700;
}

.price-discount em {
  display: flex;
  align-items: center;
  font-style: normal;
  justify-content: center;
  border-radius: 6px;
  background: #FFEEE2;
  width: 5.1rem;
  height: 2.7rem;
  flex-shrink: 0;
  color: #FF7E1B;
  font-size: 1.6rem;
  font-weight: 700;
}

.old-price {
  color: #B6BCC8;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.cart-button {
  margin-top: 3.4rem;
  display: flex;
  gap: 1.6rem;
  width: 100%;
  height: 5.6rem;
}

.btn-quantity {
  width: 26.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #F6F8FD;
}

.btn-quantity .quantity {
  color: #1D2026;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.btn-quantity i {
  display: flex;
  align-items: center;
}

.btn-quantity .btn-minus {
  height: 100%;
  margin-left: 1.6rem;
  cursor: pointer;
}

.btn-quantity .btn-plus {
  height: 100%;
  margin-right: 1.6rem;
  cursor: pointer;
}

.btn-minus:hover,
.btn-plus:hover {
  opacity: .6;
}

.cart-button .btn-add {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 10px;
  background: #FF7E1B;
  box-shadow: 0rem 2rem 5rem -2rem #FF7E1B;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: .2s ease opacity;
}

.cart-button .btn-add:hover {
  opacity: .5;
}

/* lightbox */

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  transition: .2s ease all;
}

.lightbox::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .75;
  position: fixed;
  top: 0;
  left: 0;
}

.lightbox-wrapper {
  max-width: 55rem;
  width: 100%;
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.lightbox-wrapper .close-lightbox {
  align-self: flex-end;
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 2.4rem;
}

.lightbox-wrapper .close-lightbox:hover>img {
  filter: invert(60%) sepia(49%) saturate(2694%) hue-rotate(344deg) brightness(98%) contrast(107%);
}

.lightbox-wrapper .lightbox-nav {
  position: relative;
}

.lightbox-nav .lightbox-product-img {
  width: 55rem;
  height: 55rem;
  border-radius: 1.5rem;
}

.lightbox-nav .next,
.lightbox-nav .previous {
  position: absolute;
  top: 50%;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lightbox-nav .next {
  left: 95%;
}

.lightbox-nav .previous {
  right: 95%;
}

.lightbox-nav .next:hover>img,
.lightbox-nav .previous:hover>img {
  filter: invert(60%) sepia(49%) saturate(2694%) hue-rotate(344deg) brightness(98%) contrast(107%);
}

.lightbox-wrapper .lightbox-thumbnail-wrapper {
  max-width: 44.5rem;
  width: 100%;
  margin: 4rem auto 0 auto;
  display: flex;
  gap: 3.1rem;

}

.lightbox-thumbnail-wrapper .img-fluid-lightbox {
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 10px;
  cursor: pointer;
  opacity: .6;
}

.lightbox-thumbnail-wrapper>img:hover {
  opacity: 1;
}

/*! responsive */

@media (max-width: 1200px) {
  .container {
    max-width: 99.2rem;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 76.8rem;
  }

  .product-info {
    margin-top: 0;
  }

  .product-heading {
    margin: 1.6rem 0 2.2rem 0;
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .product-desc {
    line-height: 2.2rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 57.6rem;
  }

  .menu-btn {
    display: flex;
    margin-right: 1.6rem;
    cursor: pointer;
  }

  .header-navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    transition: .7s ease all;
  }

  .header-navigation .navigation {
    width: 25rem;
    height: 100%;
    background-color: #FFF;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    margin-left: 2.5rem;
    padding-top: 9.2rem;
  }

  .nav-list .menu-link {
    color: #1D2026;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
    transition: .3s ease letter-spacing;
  }

  .nav-list .menu-link:hover {
    letter-spacing: 0.15rem;
  }

  .nav-list .nav-item:hover .menu-link::after,
  .nav-list .menu-link.active::after {
    width: 0;
  }

  .header-navigation .nav-close {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    cursor: pointer;
  }

  .cart-container {
    right: 10%;
    max-width: 80%;
    width: 100%;
  }

  .product-wrapper {
    max-width: 57.6rem;
    width: 100%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .product-gallery,
  .product-info {
    width: 100%;
  }

  .single-image-wrapper .single-image {
    pointer-events: none;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 40rem;
  }

  .cart-container {
    right: 5%;
    max-width: 90%;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 37.5rem;
  }

  .header-wrapper {
    max-width: 32.7rem;
    height: 6.8rem;
    margin: auto;
  }

  .header-profile {
    gap: 2rem;
  }

  .cart-container {
    top: 7.6rem;
    right: 2%;
    max-width: 96%;
  }

  .cart-wrapper .cart-count {
    top: 1.8rem;
    right: 3.8rem;
  }

  .profile-avatar {
    width: 2.4rem;
    height: 2.4rem;
  }

  .horizontal-line {
    display: none;
  }

  .product-wrapper {
    max-width: 37.5rem;
    margin: 0 auto;
    gap: 2.4rem;
  }

  .single-image-wrapper {
    position: relative;
  }

  .single-image-wrapper .single-image {
    width: 100%;
    height: 30rem;
    border-radius: 0;
    object-position: top;
  }

  .slider-nav {
    display: block;
  }

  .slider-nav .next,
  .slider-nav .previous {
    position: absolute;
    top: 13rem;
    border-radius: 100%;
    border: none;
    display: flex;
    cursor: pointer;
  }

  .slider-nav .next {
    right: 1.6rem;
  }

  .slider-nav .previous {
    left: 1.6rem;
  }

  .product-thumb {
    display: none;
  }

  .product-info {
    max-width: 32.7rem;
    margin: auto;
    padding-bottom: 8.8rem;
  }

  .product-heading {
    margin: 1.9rem 0 1.5rem 0;
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  .product-desc {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .product-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin: 2.4rem 0 2.4rem 0;
  }

  .cart-button {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    height: 100%;
  }

  .btn-quantity {
    width: 100%;
    height: 5.6rem;
  }

  .btn-quantity .btn-minus {
    margin-left: 2.4rem;
  }

  .btn-quantity .btn-plus {
    margin-right: 2.4rem;
  }

  .cart-button .btn-add {
    height: 5.6rem;
  }

}