/*! header start  */
.header-container {
    position: relative;
    padding: 40px 0 0 55px;
}

.header-wrapper {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-line .line {
    position: absolute;
    width: 473px;
    height: 1px;
    top: 88px;
    left: 167px;
    opacity: 0.25;
    z-index: 1;
}

.header-navigation {
    width: 830px;
    height: 100%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    display: flex;
    align-items: center;
}

.navigation {
    padding-left: 123px;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.navigation-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 96px;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    cursor: pointer;
    transition: 0.2s ease width;
}

.item-link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    transition: 0.2s ease width;
}

.navigation-item:hover .item-link::after {
    width: 100%;
    opacity: .25;
}

.item-link.active::after {
    width: 100%;
}

.nav-number {
    font-weight: 700;
    margin-right: 12px;
}

.header-mobile-btn-open {
    display: none;
}

.header-mobile-btn-close {
    display: none;
}

/*! header end  */

/*! responsive */

@media (max-width: 1440px) {
    .header-line .line {
        max-width: 30%;
        left: 167px;
    }
}

@media (max-width: 1280px) {
    .header-line .line {
        display: none;
    }
}
@media (max-width: 1024px) {
    .navigation {
        padding-left: unset;
        margin: auto;
    }
    .header-navigation {
        display: flex;
        justify-content: space-between;
        width: 450px;
    }
    .navigation-list {
        gap: 37px;
        justify-content: space-between;
    }
    .navigation-item {
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
        cursor: pointer;
        transition: 0.2s ease width;
    }
    .nav-number {
        display: none;
    }
  }

  @media (max-width: 576px) {

    .header-container {
        position: unset;
        padding: 24px 24px 0 24px;
    }

    .header-wrapper {
        height: 40px;
    }

    .header-logo {
        width: 40px;
        height: 40px;
    }

    .header-logo a {
        width: 100%;
        height: 100%;
    }

    .header-logo img {
        width: 100%;
        height: 100%;
    }

    .header-navigation {
        position: absolute;
        
        width: 67%;
        z-index: 1;
        right: 0;
        bottom: 0;
    }

    .navigation {
        padding-left: unset;
        margin: -700px 0 0 32px;
    }

    .navigation-list {
        width: 100%;
        gap: 0px;
        justify-content: space-between;
        flex-direction: column;
        height: 172px;
        position: absolute;
    }

    .navigation-item {
        height: 31px;
    }

    .item-link::after {
        width: 0;
        height: 31px;
        position: absolute;
        bottom: 1px;
        left: unset;
        right: 33px;
        transform: unset;
    }
    
    .navigation-item:hover .item-link::after {
        width: 4px;
        height: 100%;
    }
    
    .item-link.active::after {
        width: 5px;
        height: 100%;
    }

    .nav-number {
        display: inline-block;
    }

    .header-mobile-btn-open {
        display: flex;
        cursor: pointer;
    }

    .header-mobile-btn-close {
        display: flex;
        z-index: 1;
    }

  }