@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/*! base start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    background: url(./assets/bg-main-desktop.png);
    background-position: left -290px top -262px;
    background-repeat: no-repeat;
}

.bg-pattern {
    position: absolute;
    top: -102px;
    right: 0;
    width: 312px;
    height: 468px;
    background-image: url(./assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: auto;
}

/*! base end */

/* header */

.header-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 62px;
}

/* home section */

.home {
    margin-top: 127px;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.home-heading {
    max-width: 1015px;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826;
}

.home-desc {
    max-width: 870px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    padding-bottom: 4px;
}

/* section illustration */

.illustration {
    position: relative;
    width: 100%;
    margin: 321px 0 202px 0;
}

.illustration-container {
    max-width: 1110px;
    height: 600px;
    background-color: #191826;
    border-radius: 12px;
    margin: auto;
}

.illustration-app {
    position: absolute;
    width: 312px;
    height: 642px;
    margin-left: 102px;
    bottom: 171px;
    z-index: 1;
}

.illustration-app img {
    width: 100%;
    height: 100%;
}

.bg-pattern-2 {
    position: absolute;
    margin-left: 336px;
    bottom: 170px;
}

.illustration-info {
    position: absolute;
    max-width: 446px;
    background-color: #FA7453;
    border-radius: 12px;
    margin-top: 90px;
    margin-left: 569px;
    z-index: 1;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 57px 57px 40px 54px;
}

.info-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9;
}

.info-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #fff;
}

.price-download {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 59px 48px 54px;
}

.info-price {
    display: flex;
    gap: 16px;
    margin-bottom: 46px;
}

.price {
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;
}

.month {
    margin-top: 7px;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FCFAF9;
}

.download-apple {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 61px;
    background: #191826;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FCFAF9;
    margin-bottom: 16px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
}

.download-apple:hover {
    background: #66E2DC;
}

.download-apple img {
    color: #FCFAF9;
    margin-right: 7px;
}

.download-android {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 61px;
    background: #FCFAF9;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #191826;
    border: none;
    cursor: pointer;
    transition: .3s ease all;

}

.download-android:hover {
    background: #FFB964;
}

.download-android img {
    color: #FCFAF9;
    margin-right: 7px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
    align-items: center;
}

.footer-desc {
    display: flex;
    justify-content: flex-start;
    gap: 138px;
}

.footer-desc img {
    align-self: flex-start;
}

.info {
    max-width: 400px;
}

.info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
}

.footer-icons {
    display: flex;
    gap: 20px;
}

.footer-icons img {
    transition: .2s ease all;
    cursor: pointer;
}

.footer-icons img:hover {
    filter: invert(51%) sepia(77%) saturate(756%) hue-rotate(326deg) brightness(101%) contrast(96%);
}

/*! responsive */

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    body {
        background: url(./assets/bg-main-tablet.png);
        background-position: left -376px top -262px;
    }

    .container {
        max-width: 696px;
    }

    .bg-pattern {
        top: -102px;
        right: -36px;
        width: 267px;
        height: 400px;
        background-size: contain;
    }

    .home {
        margin-top: 95px;
    }

    .home-wrapper {
        gap: 28px;
    }

    .home-heading {
        max-width: 520px;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.727273px;
    }

    .home-desc {
        max-width: 515px;
        font-size: 18px;
        line-height: 28px;
    }

    .illustration {
        margin: 249px 0 183px 0;
    }

    .illustration-container {
        max-width: 696px;
    }

    .illustration-app {
        width: 270px;
        height: 556px;
        margin-left: 64px;
        bottom: 182px;
        z-index: 1;
    }

    .bg-pattern-2 {
        width: 280px;
        height: 420px;
        margin-left: 229px;
        bottom: 211px;
    }

    .bg-pattern-2 img {
        width: 100%;
        height: 100%;
    }

    .illustration-info {
        max-width: 399px;
        margin-top: 150px;
        margin-left: 239px;
        z-index: 1;
    }

    .info-header {
        gap: 12px;
        margin: 48px 48px 36px 48px;
    }

    .info-heading {
        font-size: 32px;
        line-height: 40px;
    }

    .info-desc {
        font-size: 18px;
        line-height: 28px;
    }

    .price-download {
        margin: 0 48px 48px 54px;
    }

    .info-price {
        margin-bottom: 32px;
    }

    .footer-wrapper {
        margin-bottom: 85px;
    }

    .footer-desc {
        flex-direction: column;
        gap: 32px;
    }

    .footer-icons {
        align-self: flex-end;
        margin-bottom: 29px;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width: 420px) {

    body {
        background: url(./assets/bg-main-mobile.png);
        background-position: center;
    }

    .container {
        max-width: 327px;
    }

    .bg-pattern {
        display: none;
    }

    .header-logo {
        margin-top: 40px;
    }

    .home {
        margin-top: 64px;
    }

    .home-wrapper {
        gap: 20px;
    }

    .home-heading {
        max-width: 327px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.454545px;
    }

    .home-desc {
        max-width: 327px;
        font-size: 16px;
        line-height: 26px;
    }

    .illustration {
        margin: 166px 0 420px 0;
    }

    .illustration-container {
        max-width: 100%;
    }

    .illustration-app {
        width: 209px;
        height: 430px;
        inset: 0;
        margin: auto;
        bottom: 368px;
        z-index: 1;
    }

    .bg-pattern-2 {
        inset: 0;
        margin: auto;
        bottom: 180px;
    }

    .illustration-info {
        max-width: 100%;
        margin-top: 380px;
        margin-left: 0;
        z-index: 1;
    }

    .info-header {
        gap: 12px;
        margin: 48px 37px 36px 36px;
    }

    .price-download {
        margin: 0 37px 48px 42px;
    }

    .info-price {
        margin-bottom: 32px;
    }

    .footer-wrapper {
        margin-bottom: 164px;
        flex-direction: column;
        gap: 64px;
    }

    .footer-desc {
        flex-direction: column;
        gap: 32px;
    }

    .footer-icons {
        align-self: flex-start;
        margin-bottom: unset;
    }
}