@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/*! base start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    background: url(./assets/bg-main-desktop.png);
    background-position: left -18.125rem top -16.375rem;
    background-repeat: no-repeat
}

.bg-pattern {
    position: absolute;
    top: -6.375rem;
    right: 0;
    width: 19.5rem;
    height: 29.25rem;
    background-image: url(./assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h6,
p {
    margin: 0;
}

.container {
    max-width: 69.375rem;
    width: 100%;
    margin: auto;
}

/*! base end */

/* header */

.header-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3.875rem;
}

/* home section */

.home {
    margin-top: 7.9375rem;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.home-heading {
    max-width: 63.4375rem;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -0.0625rem;
    color: #191826;
}

.home-desc {
    max-width: 54.375rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
    padding-bottom: .25rem;
}

/* section illustration */

.illustration {
    position: relative;
    width: 100%;
    margin: 20.0625rem 0 12.625rem 0;
}

.illustration-container {
    max-width: 69.375rem;
    height: 37.5rem;
    background-color: #191826;
    border-radius: 12px;
    margin: auto;
}

.illustration-app {
    position: absolute;
    width: 19.5rem;
    height: 40.125rem;
    margin-left: 6.375rem;
    bottom: 10.6875rem;
    z-index: 1;
}

.illustration-app img {
    width: 100%;
    height: 100%;
}

.bg-pattern-2 {
    position: absolute;
    margin-left: 21rem;
    bottom: 10.625rem;
}

.illustration-info {
    position: absolute;
    max-width: 27.875rem;
    background-color: #FA7453;
    border-radius: 12px;
    margin-top: 5.625rem;
    margin-left: 35.5625rem;
    z-index: 1;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    margin: 3.5625rem 3.5625rem 2.5rem 3.375rem;
}

.info-heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #FCFAF9;
}

.info-desc {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
    color: #fff;
}

.price-download {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 3.6875rem 3rem 3.375rem;
}

.info-price {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.875rem;
}

.price {
    font-weight: 700;
    font-size: 4.0625rem;
    line-height: 3.25rem;
    color: #FCFAF9;
}

.month {
    margin-top: 7px;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 2rem;
    letter-spacing: -0.0125rem;
    color: #FCFAF9;
}

.download-apple {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.8125rem;
    background: #191826;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: -0.0112rem;
    color: #FCFAF9;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
}

.download-apple:hover {
    background: #66E2DC;
}

.download-apple img {
    color: #FCFAF9;
    margin-right: .4375rem;
}

.download-android {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.8125rem;
    background: #FCFAF9;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: -0.0112rem;
    color: #191826;
    border: none;
    cursor: pointer;
    transition: .3s ease all;

}

.download-android:hover {
    background: #FFB964;
}

.download-android img {
    color: #FCFAF9;
    margin-right: .4375rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.6875rem;
    align-items: center;
}

.footer-desc {
    display: flex;
    justify-content: flex-start;
    gap: 8.625rem;
}

.footer-desc img {
    align-self: flex-start;
}

.info {
    max-width: 25rem;
}

.info p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #191826;
}

.footer-icons {
    display: flex;
    gap: 1.25rem;
}

.footer-icons img {
    transition: .2s ease all;
    cursor: pointer;
}

.footer-icons img:hover {
    filter: invert(51%) sepia(77%) saturate(756%) hue-rotate(326deg) brightness(101%) contrast(96%);
}

/*! responsive */

@media (max-width: 1200px) {
    .container {
        max-width: 62rem;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 48rem;
    }
}

@media (max-width: 768px) {
    body {
        background: url(./assets/bg-main-tablet.png);
        background-position: left -23.5rem top -16.375rem;
    }

    .container {
        max-width: 43.5rem;
    }

    .bg-pattern {
        top: -6.375rem;
        right: -2.25rem;
        width: 16.6875rem;
        height: 25rem;
        background-size: contain;
    }

    .home {
        margin-top: 5.9375rem;
    }

    .home-wrapper {
        gap: 1.75rem;
    }

    .home-heading {
        max-width: 32.5rem;
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: -0.0455rem;
    }

    .home-desc {
        max-width: 32.1875rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .illustration {
        margin: 15.5625rem 0 11.4375rem 0;
    }

    .illustration-container {
        max-width: 43.5rem;
    }

    .illustration-app {
        width: 16.875rem;
        height: 34.75rem;
        margin-left: 4rem;
        bottom: 11.375rem;
        z-index: 1;
    }

    .bg-pattern-2 {
        width: 17.5rem;
        height: 26.25rem;
        margin-left: 14.3125rem;
        bottom: 13.1875rem;
    }

    .bg-pattern-2 img {
        width: 100%;
        height: 100%;
    }

    .illustration-info {
        max-width: 24.9375rem;
        margin-top: 9.375rem;
        margin-left: 14.9375rem;
        z-index: 1;
    }

    .info-header {
        gap: .75rem;
        margin: 3rem 3rem 2.25rem 3rem;
    }

    .info-heading {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .info-desc {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .price-download {
        margin: 0 3rem 3rem 3.375rem;
    }

    .info-price {
        margin-bottom: 2rem;
    }

    .footer-wrapper {
        margin-bottom: 5.3125rem;
    }

    .footer-desc {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-icons {
        align-self: flex-end;
        margin-bottom: 1.8125rem;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 25rem;
    }
}

@media (max-width: 420px) {

    body {
        background: url(./assets/bg-main-mobile.png);
        background-position: center;
    }

    .container {
        max-width: 20.4375rem;
    }

    .bg-pattern {
        display: none;
    }

    .header-logo {
        margin-top: 2.5rem;
    }

    .home {
        margin-top: 4rem;
    }

    .home-wrapper {
        gap: 1.25rem;
    }

    .home-heading {
        max-width: 20.4375rem;
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -0.454545px;
    }

    .home-desc {
        max-width: 20.4375rem;
        font-size: 1rem;
        line-height: 1.625rem;
    }

    .illustration {
        margin: 10.375rem 0 26.25rem 0;
    }

    .illustration-container {
        max-width: 100%;
    }

    .illustration-app {
        width: 13.0625rem;
        height: 26.875rem;
        inset: 0;
        margin: auto;
        bottom: 23rem;
        z-index: 1;
    }

    .bg-pattern-2 {
        inset: 0;
        margin: auto;
        bottom: 11.25rem;
    }

    .illustration-info {
        max-width: 100%;
        margin-top: 23.75rem;
        margin-left: 0;
        z-index: 1;
    }

    .info-header {
        gap: .75rem;
        margin: 3rem 2.3125rem 2.25rem 2.25rem;
    }

    .price-download {
        margin: 0 2.3125rem 3rem 2.625rem;
    }

    .info-price {
        margin-bottom: 2rem;
    }

    .footer-wrapper {
        margin-bottom: 10.25rem;
        flex-direction: column;
        gap: 4rem;
    }

    .footer-desc {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-icons {
        align-self: flex-start;
        margin-bottom: unset;
    }
}